<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ryanschafer.authorgenie">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="androidx.multidex.MultiDexApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/Theme.AuthorGenie4">

        <activity
            android:name=".ui.wordprocessor.ScrollingEditTextActivity"
            android:label="@string/title_activity_scrolling_edit_text"
            android:theme="@style/Theme.AuthorGenie4.NoActionBar"
            android:windowSoftInputMode="adjustPan" />

        <receiver
            android:name=".background.AlarmReceiver"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".ui.main.MainActivity"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>